.line-chart-parent {
    svg {
        width: $rightBlockWidth;
        height: 300px;
        padding-left: 50px;
        padding-top: 40px;
        background-color: #fff;
    }
    path {
        stroke: map-get($colors, hooprBlue);
        fill: none;
    }
    .legend rect {
        fill: white;
    }
    .legend text {
        fill: #565555;
        font-size: 12px;
        font-weight: 100;
        text-transform: uppercase;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    .line-main {
        stroke-width: 4;
        stroke: map-get($colors, hooprOrange);
        cursor: pointer;
        &:hover {
            stroke-width: 6;
            stroke: #ff2f00;
        }
    }
    .line-compare {
        stroke-width: 2;
        stroke: #83c2da;
        cursor: pointer;
        &:hover {
            stroke-width: 4;
            stroke: #00b9ff;
        }
    }
    .focus circle {
        fill: none;
        stroke: map-get($colors, hooprOrange);
    }
    .focus text {
        fill: map-get($colors, hooprOrange);
    }
    .grid .tick {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
    }
    .grid path {
        stroke-width: 0;
    }
    .axis .tick {
        fill: map-get($colors, hooprBlue);
    }
}
