@font-face {
    font-family: $fontFamily;
    src: url("../assets/fonts/BioSans-Regular.otf");
}

@font-face {
    font-family: $fontFamily;
    src: url("../assets/fonts/BioSans-SemiBold.otf");
    font-weight: bold;
}
