@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-wrap($value: nowrap) {
    // No Webkit Box fallback.
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    @if $value == nowrap {
        -ms-flex-wrap: none;
    } @else {
        -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}

@mixin dashboard-tablet {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin dashboard-mobile {
    @media (max-width: 869px) {
        @content;
    }
}

// Media queries for use with mobile first
// Usage: @include media(sm) { text-align: left; }
@mixin media($size) {
    // Landscape Mobile Phones: xs - applies to min and higher
    // Anything without media queries is for the small screen
    @if $size == sm {
        // Portrait Mobile Phone to Landscape Tablet: sm - applies to min and higher
        @media (min-width: 768px) { @content; }
    }
    @else if $size == md {
        // Landscape Tablet to Desktop: md - applies to min and higher
        @media (min-width: 992px) { @content; }
    }
    @else if $size == lg{
        // Large Desktop: lg - applies to min and higher
        @media (min-width: 1200px)  { @content; }
    }
    @else {
        @error "The media mixin only supports: sm(min 768px), md(min 992px) and lg(min 1200px)"
    }
}