// *****************************************************************************
// Variables
// *****************************************************************************

$colors: (
  'primaryDark': #1b2025,
  'primaryLight': #e6fdfa,
  'primaryLavender': #838ae4,
);


$fontFamilyTech: 'Play';
$fontFamilyRetro: 'Lobster', cursive;