.inventory-parent {
    color: #fff;
    overflow: hidden;
    .inventory {
        position: absolute;
        top: 10px;
        width: 100%;
        overflow: scroll;
        .ship-details {
            text-align: center;
            margin: 100px auto;
            font-size: 20px;
            .spec-title {
                text-transform: uppercase;
                text-align: left;
                padding-left: 30px;
                font-size: 25px;
                margin-top: 10px;
                margin-bottom: 5px;
            }
            .tech-specs {
                margin-top: 50px;
                .spec-name {
                    display: inline-block;
                    text-align: left;
                    width: 13vw;
                    font-weight: 700;
                    font-size: 1.1rem;
                }
                .spec-content {
                    display: inline-block;
                    text-align: left;
                    width: 12vw;
                    font-size: 1.3rem;
                    vertical-align: top;
                }
            }
        }
        .back-btn {
            border: 1px solid #fff;
            border-radius: 5px;
            width: 170px;
            text-align: center;
            font-family: $fontFamilyRetro;
            font-size: 20px;
            margin-left: 10px;
            position: absolute;
            top: 10px;
            height: 40px;
            padding-top: 4px;
            &:hover {
                cursor: pointer;
            }
            i {
                font-size: 15px;
            }
        }
        .inventory-item {
            width: 240px;
            margin: 50px auto;
        }
        .inventory-shot {
            background-color: #fff;
            background-size: cover;
            background-position-x: 0px;
            background-position-y: 0px;
            width: 130px;
            height: 130px;
            border: 4px solid #efac6e;
            border-radius: 100%;
            z-index: 100;
            position: relative;
            margin: 0 auto 10px auto;
            &:hover {
                border: 4px solid map-get($colors, primaryLavender);
                cursor: pointer;
            }
        }
        .inventory-name {
            text-align: center;
            letter-spacing: 2px;
            &:hover {
                cursor: pointer;
            }
        }
        .inventory-class {
            text-align: center;
            letter-spacing: 2px;
            span {
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 15px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .shuttle {
            color: #cccc78;
        }
        .fighter {
            color: #962626;
        }
        .freighter {
            color: #2e752e;
        }
    }
}