$main-content-padding: 15px;
.league-layout {
    #h-container {
        height: 100%;
        padding: 15px;
    }
    #h-side-menu-col {
        @extend .hidden-lg-down;
        max-width: 280px;
        padding: 0;
    }
    $nav-item-height: 50px;
    #h-side-menu {
        font-size: 1rem;
        font-weight: bold;
        margin-right: 15px;
        .hide-on-side-menu {
            display: none;
        }
        .h-menu {
            list-style: none;
            padding: 0;
        }
        .nav-item {
            width: 100%;
            height: $nav-item-height;
            @extend .row-shadow;
            &:first-child {
                border-top-left-radius: $b-radius;
                border-top-right-radius: $b-radius;
                box-shadow: none;
            }
            &.selected,
            &.selected:hover {
                background-color: map-get($colors, hooprOrange);
                .nav-link,
                .nav-link:hover,
                .nav-link:focus {
                    color: white;
                }
            }
            &.first {
                border-top-left-radius: $b-radius;
                border-top-right-radius: $b-radius;
                box-shadow: none;
            }
            &.last {
                border-bottom-left-radius: $b-radius;
                border-bottom-right-radius: $b-radius;
            }
        }
        .nav-link,
        .nav-link:hover,
        .nav-link:focus {
            height: 100%;
            width: 100%;
            color: #33444F;
            padding-left: 16px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            letter-spacing: 0.5px;
        }
        .nav-item-dashboard {
            height: $nav-item-height;
            margin-bottom: 10px;
            &.selected,
            &.selected:hover {
                background-color: #D05235;
                .nav-link,
                .nav-link:hover,
                .nav-link:focus {
                    color: white;
                }
            }
        }
    }
    #h-main-content {
        overflow-y: auto;
        font-size: .95rem;
        padding: 0;
        .select-row {
            font-size: 1.1rem;
            height: 50px;
            width: 100%;
            .add-btn {
                float: right;
            }
            // breadcrumb
            .bc {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                list-style: none;
                padding: 0;
                height: 100%;
            }
            .bc-item {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                &.even,
                &.even:hover {
                    .bc-text {
                        color: white;
                    }
                }
                .bc-bg {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 100%;
                    -webkit-box-sizing: content-box;
                    -moz-box-sizing: content-box;
                    box-sizing: content-box;
                    -o-text-overflow: clip;
                    text-overflow: clip;
                    background: #D65D3C;
                    -webkit-transform: skewX(-20deg);
                    transform: skewX(-20deg);
                }
            }
            .bc-item.right {
                margin-left: auto;
                width: 50px;
            }
            .bc-text {
                display: inline-block;
                padding: 15px;
                z-index: 5;
            }
        }
        .space-row {
            box-shadow: inset 0 9px 15px -15px rgba(100, 100, 100, 1);
            padding: 15px;
            overflow-y: auto;
            &.no-box-shadow {
                box-shadow: none;
            }
        }
        .teams-table {
            width: 100%;
            thead tr {
                box-shadow: inset 0 9px 15px -15px rgba(100, 100, 100, 1);
            }
            tbody {
                box-shadow: inset 0 9px 15px -15px rgba(100, 100, 100, 1);
            }
            th {
                color: #D65D3C;
                padding: $main-content-padding;
            }
            td {
                padding: 16px;
            }
        }
    }
    #removeModal {
        font-size: 1rem;
    }
    #h-flash-container {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 100;
        margin: 0;
        .alert-box-fixed {
            margin: 0 15px 15px 0;
            border-radius: $b-radius;
        }
    }
}
