#h-dashboard {
    height: 743px;
    max-width: 1130px;
    // background-color: #eef2f6 !important;
}

#h-dashboard-front {
    height: 743px;
    overflow: hidden;
    position: relative;
    left: 0;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    transition: transform 1s ease;
    .h-dashboard-top {
        height: 400px;
        @include flexbox;
        @include flex-wrap(wrap);
    }
    .h-dashboard-bottom {
        height: 250px;
        @include flexbox;
        @include flex-wrap(wrap);
    }
}

@include dashboard-tablet {
    #h-dashboard {
        margin: 0 20px;
    }
    #h-dashboard-front {
        height: 780px;
    }
    .h-dashboard-top {
        height: 380px;
        margin-bottom: 30px;
    }
}

@include dashboard-mobile {
    #h-dashboard {
        height: 1525px;
    }
    #h-dashboard-front {
        height: 1540px;
        .h-dashboard-top {
            height: 790px;
            margin-bottom: 30px;
        }
    }
}

#home-hero-pop {
    background-color: #ffffff;
    font: 16px Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #6d6e70;
    text-align: left;
    padding: 10px;
    position: absolute;
    right: -480px;
    top: 0px;
    height: 505px;
    width: 460px;
    z-index: 2;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    transition: transform 1s ease;
}
