.leagueAverage {
    text-align: center;
    table {
        td {
            text-align: left;
        }
        td span:nth-child(2) {
            font-size: 20px;
            color: map-get($colors, hooprBlue);
            margin-right: 2px;
        }
        td span:nth-child(3) {
            font-size: 13px;
            text-transform: uppercase;
        }
        td {
            .deltaUp {
                color: green;
            }
            .deltaNone {
                color: #FFBA10;
            }
            .deltaDown {
                color: red;
            }
        }
    }
}

.fourRows {
    table {
        width: 230px;
        td span:nth-child(3) {
            letter-spacing: -0.2px;
        }
        td {
            i {
                font-size: 7px;
            }
            .delta {
                display: inline;
                position: relative;
                left: 27px;
                top: -18px;
                font-size: 21px
            }
        }
        // spread out left and right columns:
        td:nth-child(1) {
            padding-left: 45px;
            padding-right: 20px;
        }
        td:nth-child(2) {
            padding-right: 0;
            padding-left: 1px;
        }
    }
}

.twoRows {
    position: relative;
    top: -25px;
    table {
        margin: 0 auto;
        td span:nth-child(2) {
            font-size: 30px;
            font-weight: 700;
        }
        td {
            width: 125px;
            i {
                font-size: 11px;
            }
            .delta {
                position: relative;
                left: 28px;
                top: 17px;
                font-size: 21px;
                margin-top: -23px;
            }
        }
        td:nth-child(1) {
            padding-left: 32px;
        }
        td:nth-child(2) {
            padding-left: 23px;
        }
        td:nth-child(3) {
            padding-left: 13px;
        }
        td:nth-child(4) {
            padding-left: 4px;
        }
        tr:nth-child(1) {
            td {
                padding-top: 35px;
            }
        }
    }
}

.dynamicDisplayShow {
    display: inherit;
}

.dynamicDisplayHide {
    display: none;
}
