.tip-box-parent {
    width: 390px;
    margin: -15px auto 0 auto;
    float: left;
    .tip-box {
        height: 337px;
        width: $leftBlockWidth;
        margin: 0 auto;
        float: left;
        border-radius: $stdRadius;
        background-color: map-get($colors, boxBackground);
        p {
            width: $leftBlockWidth - 25;
            height: 40px;
            color: #ffffff;
            font-weight: 300;
            text-align: center;
            margin: 2px auto;
            padding-top: 12px;
            border-radius: $stdRadius;
            text-transform: uppercase;
            font-size: 12px;
        }
        .section-title {
            height: 38px;
            color: map-get($colors, hooprOrange);
            border-bottom: 1px solid #e4e0e0;
            padding-top: 10px;
            padding-left: 30px;
            h1 {
                font-size: 18px;
                letter-spacing: 0.6px;
            }
        }
        .tip-main {
            height: 190px;
            width: $leftBlockWidth - 25;
            margin: 9px auto 5px auto;
            background-color: map-get($colors, primaryBackground);
            text-align: center;
            padding: 15px;
            padding-top: 36px;
            border-radius: $stdRadius;
            line-height: 21px;
            font-size: 17px;
        }
        .tip-more {
            background-color: map-get($colors, hooprBlue);
            cursor: pointer;
            &:hover {
                background-color: #235e82;
            }
        }
        .tip-another {
            background-color: map-get($colors, hooprOrange);
            cursor: pointer;
            &:hover {
                background-color: #8a3c2a;
            }
        }
    }
}

@include dashboard-tablet {
    .tip-box-parent {
        width: 300px;
    }
}
@include dashboard-mobile {
    .tip-box-parent {
        width: 300px;
        height: 390px;
    }
}